body{
    background-color: #c4c44e;

}

.h1{
    text-align: center;
    color: #f13b0e;
}
.p{
    text-align: center;
    color: #3613f8;
    font-weight: bolder;
}

Nav{
    margin-left: 100px;
    font-size: large;
    font-weight: bolder;
    
}

.card-img-top{
    width: 150px;
}
.card{
    margin-left: 100px;
}